client/Bombatlon/.vs/
client/Bombatlon/Bombatlon/bin/
client/Bombatlon/Bombatlon/obj/
client/Bombatlon/packages/
client/Bombatlon/publish/
client/Bombatlon/Bombatlon/Microsoft.FlightSimulator.SimConnect.dll
client/Bombatlon/Bombatlon/SimConnect.dll
client/Bombatlon/Bombatlon/SimConnect.lib
client_prototype/src/bombatlon/.idea/
client_prototype/src/bombatlon/__pycache__/
backend/dist/
backend/node_modules/
backend/.idea/
client/Bombathlon/Bombatlon/bin/
client/Bombathlon/Bombatlon/obj/
client/Bombathlon/.vs/Bombathlon/v17/.suo
database/bombathlon.sqbpro
database/bombathlon.db
plane_export/Plane_Export/Bombatlon/bin/
plane_export/Plane_Export/packages/
plane_export/Plane_Export/publish/
plane_export/Plane_Export/Bombatlon/obj/
plane_export/Plane_Export/Bombatlon/SimConnect.dll
plane_export/Plane_Export/Bombatlon/SimConnect.lib
plane_export/Plane_Export/Bombatlon/Microsoft.FlightSimulator.SimConnect.dll
plane_export/Plane_Export/.vs/PlaneExport/v17/.suo
database/airport.sqbpro
database/airport.sqlite
plane_export/Plane_Export/.vs/PlaneExport/project-colors.json
client/Bombathlon/packages/Newtonsoft.Json.13.0.3/.signature.p7s
client/Bombathlon/packages/
client/Bombathlon/.idea/.idea.Bombathlon/.idea/.gitignore
client/Bombathlon/.idea/
